
*{
    font-family: "Montserrat", sans-serif;
}



/* home carousel */
.carousel-item{
    align-items: center;
}

.carousel-caption{
    position: absolute;
    right: 15%;
    bottom: 25%;
    top: 35%;
    left: 15%;
}

.carousel-caption h1{
    text-shadow: 0 0 15px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
}

.carousel-caption p{
    text-shadow: 0 0 7px rgba(0, 0, 0, 1);
    text-align: center;
    font-size: 2rem;
}


#homecar .btn{
    text-shadow: 0 0 7px rgba(0, 0, 0, 0);
    border: 1px;
    transform: scale(1.5);
    border-style: solid;
    border-color: white;
}

.btn:hover{
    opacity: 0.7;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width:690px){
    .carousel-caption{
        margin:auto;
        padding: auto;
    }

    .carousel-caption h1{
        font-size: 1.3rem;
    }
    .carousel-caption p{
        font-size: medium;
    }

    #homecar .btn{
        transform: scale(0.8);
        
    }
}

@media only screen and (min-width: 690px) and (max-width: 800px){
    .carousel-caption h1{
        font-size: 2.5rem;
    }
    .carousel-caption p{
        font-size: large;
    }

    #homecar .btn{
        transform: scale(0.9);
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px){

    .carousel-caption h1{
        font-size: 3rem;
    }
    .carousel-caption p{
        font-size: large;
    }

    #homecar .btn{
        transform: scale(0.9);
    }
}



/* navbar */
.navbar-nav a{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}

.navbar-brand{
    color:black;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-brand:focus, .bg-light:focus, .navbar-brand:hover, .bg-light:hover{
    color:black;
}

.navbar-nav, .navbar-link, .bg-light{
    color:black;
}


@media only screen and (min-width: 600px) and (max-width: 991px)
{   .navbar-nav{
    text-align: center;
    }

}

@media only screen and (max-width:600px){
    .navbar-nav{
        text-align: center;
    }

}


/* check availability */
#checkavail{
    padding: 100px 100px 0;
}

h2{
    margin-bottom: 2%;
    font-weight: bold;
}

.labeltxt{
    width: 60%;
    margin:auto;
    font-size: 18px;
    line-height: 1.9;
}

/* things to do */
#services{
    padding: 100px;
}

.services .card:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.servh2{
    margin-bottom: 0;
}

.card{
    margin: 6% 3%;
    border-radius: 0;
}

.serviceimg{
    border-radius: 0;
}

/* about */
#about{
    padding: 5%;
}

.about h3{
    font-weight: bold;
}

.about-text{
    white-space: mormal;
}

.maps{
    text-align: center;
}

.indent{
    text-indent: 30px;
}


@media only screen and (max-width:600px){
    .maps{
        margin:auto;
        text-align: center;
    }

    .about-text{
        margin: auto;
        padding-top: 2%;
    }
    .about-text h3{
        text-align: center;
    }
    .about-text p{
        text-align: start;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px){
    .maps{
        margin:auto;
        padding: auto;
        width:100%;
        text-align: center;
    }

    .about-text{
        margin: auto;
        padding-top: 2%;
        text-align: center;
    }

    .about-text h3{
        text-align: center;
    }
    .about-text p{
        text-align: start;
    }
}




/* testimonials */
#testimonials{
    padding-bottom: 4%;
}

.testimonials h3{
    font-weight: bold;
}

.testimg{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.rounded-start, .rounded-end{
    border-radius: 0;
}

.card-body{
    padding: 0;
}

@media only screen and (max-width: 770px){

    .testimonials .card{
        border:rgba(0, 0, 0, 0);
    }

    .testimg{
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
    
}




/* footer */
.footicon:hover{
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
  }